* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.App {
  background-color: #fafafb;
  font-family: Roboto-Regular;
  letter-spacing: 0.4px;
}
